<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinkoff_hr">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TinkoffHR">
        <activity
            android:name=".ui.orders.basket.BasketActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.faq.parking.ParkingActivity"
            android:exported="false"
            android:label="@string/title_activity_parking" />
        <activity
            android:name=".ui.where_eat.eatery_information.EateryInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.faq.sale.sale_partner.SalePartnerActivity"
            android:exported="false" />
        <activity android:name=".ui.workers.worker_profile.WorkerProfileActivity" />
        <activity android:name=".ui.faq.education.EducationActivity" />
        <activity android:name=".ui.faq.MeetUp.MeetUpActivity" />
        <activity android:name=".actionbar.SettingsActivity" />
        <activity android:name=".ui.faq.business_trip.BusinessTripActivity" />
        <activity android:name=".actionbar.ProfileSettingsActivity" />
        <activity android:name=".ui.faq.sale.SaleActivity" />
        <activity
            android:name=".ContentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>